.series {
    padding: 50px 0;
    position: relative;

    h3 {
        position: absolute;
        text-transform: uppercase;
        background-color: $dc-blue;
        color: white;
        display: inline-block;
        top: 0;
        left: 0;
        transform: translateY(-50%);
        padding: 0.25rem 1.5rem;
    }
}

.hero {
    height: 300px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: top;
    }
}
main {
    background-color: $bg-main;
    color: white;
    text-align: center;

    .container {
        max-width: 1200px;
        margin: 0 auto;
    }

    .card-list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem 1rem;
        margin-bottom: 3rem;
    }

    button {
        background-color: $dc-blue;
        color: white;
        border: none;
        padding: 0.25rem 2rem;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        font-weight: 600;
    }

    button:hover {
        background-color: white;
        color: $dc-blue;
        transform: scale(110%);
        transition: all 0.2s linear;
    }
}

.card {
    text-transform: uppercase;
    font-size: 0.75rem;
    text-align: start;
    img {
        aspect-ratio: 1/1;
        width: 100%;
        object-fit: cover;
        object-position: top;
        margin-bottom: 0.5rem;
    }

    img:hover {
        transform: scale(110%);
        transition: transform 0.2s linear;
    }
}
