* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

ul,
ol,
menu {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

header .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
header .container .icon {
  width: 7.5rem;
  padding: 1.5rem;
}
header .container .main-nav {
  margin-left: auto;
}
header .container .main-nav .main-nav__list {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  height: 100%;
}
header .container .main-nav .main-nav__list li {
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 600;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
header .container .main-nav .main-nav__list li a:hover {
  color: #0c7cec;
  transition: color 0.1s linear;
}
header .container .main-nav .main-nav__list li a.active:after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 0.25rem;
  background-color: #0c7cec;
  bottom: 0;
}

.series {
  padding: 50px 0;
  position: relative;
}
.series h3 {
  position: absolute;
  text-transform: uppercase;
  background-color: #0c7cec;
  color: white;
  display: inline-block;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  padding: 0.25rem 1.5rem;
}

.hero {
  height: 300px;
}
.hero img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

main {
  background-color: #1c1c1c;
  color: white;
  text-align: center;
}
main .container {
  max-width: 1200px;
  margin: 0 auto;
}
main .card-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 2rem 1rem;
  margin-bottom: 3rem;
}
main button {
  background-color: #0c7cec;
  color: white;
  border: none;
  padding: 0.25rem 2rem;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 600;
}
main button:hover {
  background-color: white;
  color: #0c7cec;
  transform: scale(110%);
  transition: all 0.2s linear;
}

.card {
  text-transform: uppercase;
  font-size: 0.75rem;
  text-align: start;
}
.card img {
  aspect-ratio: 1/1;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  margin-bottom: 0.5rem;
}
.card img:hover {
  transform: scale(110%);
  transition: transform 0.2s linear;
}

.main-toolbar {
  background-color: #0c7cec;
  color: white;
  padding: 3rem 0;
}
.main-toolbar .container {
  max-width: 1200px;
  margin: 0 auto;
}
.main-toolbar .container .main-toolbar__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.main-toolbar .container .main-toolbar__list .main-toolbar__item a {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.main-toolbar .container .main-toolbar__list .main-toolbar__item a picture {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.main-toolbar .container .main-toolbar__list .main-toolbar__item a picture img {
  height: 100%;
}
.main-toolbar .container .main-toolbar__list .main-toolbar__item:hover {
  transform: scale(110%);
  transition: transform 0.2s linear;
}

footer {
  color: white;
}
footer .footer__bg {
  background-image: url(../img/footer-bg.jpg);
}
footer .footer__bg .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  max-height: 350px;
  overflow: hidden;
}
footer .footer__bg .container picture {
  margin-left: auto;
  aspect-ratio: 1/1;
  height: 400px;
}
footer .footer__bg .container picture img {
  height: 100%;
}
footer .footer__bg .container .footer__list {
  display: flex;
}
footer .footer__bg .container .footer__list .footer__links {
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
}
footer .footer__bg .container .footer__list .footer__links h3 {
  text-transform: uppercase;
  padding: 1rem 0;
}
footer .footer__bg .container .footer__list .footer__links a {
  color: #959595;
  font-size: 0.75rem;
  line-height: 1.7;
}
footer .footer__bg .container .footer__list .footer__links a:hover {
  color: white;
  transition: color 0.2s linear;
}
footer .footer__socials {
  background-color: #303030;
  padding: 1.5rem 0;
}
footer .footer__socials .container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
}
footer .footer__socials button {
  border: 2px solid #0c7cec;
  background-color: transparent;
  color: white;
  text-transform: uppercase;
  padding: 0.75rem;
  font-weight: 600;
  font-size: 1.25rem;
}
footer .footer__socials button:hover {
  background-color: #0c7cec;
  color: #303030;
  transition: all 0.2s linear;
}
footer .footer__socials .footer__links {
  display: flex;
  margin-left: auto;
}
footer .footer__socials .footer__links .footer__follow-us {
  display: flex;
  align-items: center;
  gap: 1rem;
}
footer .footer__socials .footer__links .footer__follow-us p {
  text-transform: uppercase;
  color: #0c7cec;
  font-weight: 600;
}
footer .footer__socials .footer__links .footer__follow-us a:hover {
  filter: brightness(0) invert(1);
  transition: filter 0.2s linear;
}
footer:after {
  height: 3rem;
  background-color: #1f1f1f;
  display: block;
  content: "";
}

.comic__header {
  height: 60px;
  background-color: #0c7cec;
  width: 100%;
}
.comic__header .container {
  position: relative;
  height: 100%;
}

.comic__preview {
  position: absolute;
  left: 0;
  bottom: 20px;
  border: 1px solid white;
  max-height: 200px;
}

.comic__body {
  background-color: white;
  padding-top: 60px;
  text-align: start;
}
.comic__body .container .comic__grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.comic__body .container .comic__grid .comic__description {
  padding-right: 50px;
}
.comic__body .container .comic__grid .comic__description .comic__text {
  color: black;
  padding: 16px 0;
  font-size: 14px;
  line-height: 1.8;
}
.comic__body .container .comic__grid .comic__description h4 {
  color: black;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.comic__body .container .comic__grid .comic__description .comic__price {
  background-color: #55ba59;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.comic__body .container .comic__grid .comic__description .comic__available {
  display: flex;
  gap: 20px;
}
.comic__body .container .comic__grid .comic__description .comic__available .comic__check-avail {
  padding: 0 20px;
  display: flex;
  gap: 20px;
}
.comic__body .container .comic__grid .comic__description .comic__available .comic__check-avail::before {
  display: block;
  content: "";
  width: 1px;
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: black;
  transform: translateX(-20px);
}
.comic__body .comic__details {
  background-color: #f6f6f6;
}
.comic__body .comic__details h4 {
  margin-bottom: 20px;
}
.comic__body .comic__details .container {
  display: flex;
  color: black;
  padding: 30px 0 100px;
}
.comic__body .comic__details .container .comic__talent {
  flex-basis: 0;
  flex-grow: 1;
}
.comic__body .comic__details .container .comic__talent .comic__art,
.comic__body .comic__details .container .comic__talent .comic__authors {
  border-top: 2px solid lightgrey;
  padding: 16px 0;
  margin-right: 30px;
  font-size: 14px;
  display: flex;
}
.comic__body .comic__details .container .comic__talent .comic__art .comic__art-title,
.comic__body .comic__details .container .comic__talent .comic__art .comic__writers-title,
.comic__body .comic__details .container .comic__talent .comic__authors .comic__art-title,
.comic__body .comic__details .container .comic__talent .comic__authors .comic__writers-title {
  min-width: 200px;
}
.comic__body .comic__details .container .comic__talent .comic__authors {
  border-bottom: 2px solid lightgrey;
}
.comic__body .comic__details .container .comic__talent .comic__artists,
.comic__body .comic__details .container .comic__talent .comic__writers {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}
.comic__body .comic__details .container .comic__talent .comic__artists .comic__artist,
.comic__body .comic__details .container .comic__talent .comic__artists .comic__writer,
.comic__body .comic__details .container .comic__talent .comic__writers .comic__artist,
.comic__body .comic__details .container .comic__talent .comic__writers .comic__writer {
  color: cornflowerblue;
  display: flex;
  cursor: pointer;
}
.comic__body .comic__details .container .comic__talent .comic__artists .comic__artist::after,
.comic__body .comic__details .container .comic__talent .comic__artists .comic__writer::after,
.comic__body .comic__details .container .comic__talent .comic__writers .comic__artist::after,
.comic__body .comic__details .container .comic__talent .comic__writers .comic__writer::after {
  content: ",";
  color: black;
}
.comic__body .comic__details .container .comic__talent .comic__artists .comic__artist:last-of-type:after,
.comic__body .comic__details .container .comic__talent .comic__artists .comic__writer:last-of-type:after,
.comic__body .comic__details .container .comic__talent .comic__writers .comic__artist:last-of-type:after,
.comic__body .comic__details .container .comic__talent .comic__writers .comic__writer:last-of-type:after {
  content: "";
}
.comic__body .comic__details .comic__specs {
  flex-basis: 0;
  flex-grow: 1;
}
.comic__body .comic__details .comic__specs .comic__serie,
.comic__body .comic__details .comic__specs .comic__price,
.comic__body .comic__details .comic__specs .comic__sale-date {
  display: flex;
  border-top: 2px solid lightgrey;
}
.comic__body .comic__details .comic__specs .comic__serie .comic_serie-link,
.comic__body .comic__details .comic__specs .comic__price .comic_serie-link,
.comic__body .comic__details .comic__specs .comic__sale-date .comic_serie-link {
  color: cornflowerblue;
  text-transform: uppercase;
}
.comic__body .comic__details .comic__specs .comic__serie p,
.comic__body .comic__details .comic__specs .comic__price p,
.comic__body .comic__details .comic__specs .comic__sale-date p {
  padding: 16px 0;
}
.comic__body .comic__details .comic__specs .comic__serie .comic__specs-title,
.comic__body .comic__details .comic__specs .comic__price .comic__specs-title,
.comic__body .comic__details .comic__specs .comic__sale-date .comic__specs-title {
  min-width: 200px;
}
.comic__body .comic__details .comic__specs .comic__sale-date {
  border-bottom: 2px solid lightgrey;
}